:root {
  font-size: calc(1vw + 1vh + .5vmin);
}


body {
  font: 1rem/1.6 'Orbitron', sans-serif;
  max-height: 600px;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  color: white;
  width: 50%;
  padding: 100px;
  margin: auto;
}


p {
  padding: 20px;
}


img {
  display: center;
  max-height: 170px;

}

#btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#btn:hover {
  background-color: #3e7d8e
}

#btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
