:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

body {
  font: 1rem/1.6 'Orbitron', sans-serif;
  max-height: 600px;
  text-align: center;
  background-image: url("https://i.pinimg.com/736x/f9/d9/0d/f9d90da77997063492a7214e862a2d83.jpg");
  height: 100%;
  width: auto;
  background-size: cover;
  color: white;
  width: 50%;
  padding: 100px;
  margin: auto;
}


p {
  padding: 20px;
}


img {
  display: center;
  max-height: 170px;

}

#btn {
  display: inline-block;
  padding: 25px 25px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;

}

#btn:hover {
  background-color: #3e7d8e
}

#btn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

p {

  padding: 0;
  margin: 0;

}

input {
  height: 25px;
  width: 180px;
}

#srchBtn {
  width: 190px;
  height: 30px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}